body {
  background-color: #e9ebee;
}

a {
  text-decoration: none;
  color: black;
}

.color-fb {
  color: #385898;
}

.xsmall {
  font-size: 10px;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.modal-dialog {
  z-index: 1050;
}

.text-break {
  line-break: anywhere;
}
